

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.add-small-maring-bottom {
  margin-bottom: 20px;
}

.add-small-margin-top {
  margin-top: 50px;
}

#get-weather-in-user-location {
  margin-right: 30px;
}

#show-lat-lon-div {
  min-height: 40px;
}

#show-lat-lon {
  /*margin-left: 60px;*/
}

.row-buttons {
  margin-bottom: 30px;
}

.add-border-right {
  border-right: 10px solid #CCC;
}

.col-md-5 {
  margin-left: 20px;
}


.row-chart {
  margin-top: 50px;
}

#chart {
  min-height: 300px;
}






