

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.add-small-maring-bottom {
  margin-bottom: 20px;
}

.add-small-margin-top {
  margin-top: 50px;
}

#get-weather-in-user-location {
  margin-right: 30px;
}

#show-lat-lon-div {
  min-height: 40px;
}

#show-lat-lon {
  /*margin-left: 60px;*/
}
















